@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

main{
    font-family: 'Ubuntu', sans-serif;
    margin: 60px;
}

hr{
   color: #C4C4C4;
}

.titulo-financeira{
    position: absolute;
    width: 512px;
    height: 126px;
    left: 202px;
    top: 92px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    color: #FF4081;
    text-align: left;
}

.texto-financ{
    position: absolute;
    width: 461px;
    height: 186px;
    left: 202px;
    top: 240px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: justify;
}

.indepen-financeira{
    position: relative;
    left: 52.15%;
    right: 21.46%;
    top: 9.38%;
    bottom: 72.49%;
    border: 1px solid #000000;
}

.section2{
    background: #F7F7F7;
    width: 105%;
    padding: 20px;
}

.titulo1{
    position: absolute;
    width: 512px;
    height: 40px;
    left: 691px;
    top: 656px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;    
    color: #FF4081;
}

.informa1{
    position: absolute;
    width: 501px;
    height: 195px;
    left: 691px;
    top: 692px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: justify;
}

.titulo2{
    position: absolute;
    width: 106px;
    height: 40px;
    left: 691px;
    top: 997px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.informa2{
    position: absolute;
    width: 501px;
    height: 195px;
    left: 691px;
    top: 1038px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;
}

.titulo3{
    position: absolute;
    width: 512px;
    height: 40px;
    left: 691px;
    top: 1335px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.informa3{
    position: absolute;
    width: 501px;
    height: 195px;
    left: 691px;
    top: 1376px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;
}
